.alerts-wrapper
	.alert.alert-success.alert-dismissible.fade.show(role='alert')
		h6.alert-heading success
		p Lorem ipsum, dolor sit amet consectetur adipisicing.
		button.close(data-dismiss='alert', type='button', aria-label='Close')
			i.material-icons(aria-hidden='true') close
	.alert.alert-warning.alert-dismissible.fade.show(role='alert')
		h6.alert-heading warning
		p Lorem ipsum, dolor sit amet consectetur adipisicing.
		button.close(data-dismiss='alert', type='button', aria-label='Close')
			i.material-icons(aria-hidden='true') close
	.alert.alert-info.alert-dismissible.fade.show(role='alert')
		h6.alert-heading info
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere excepturi perferendis consequatur, veritatis eligendi similique fugit inventore nesciunt dolor fugiat incidunt temporibus eaque quibusdam debitis voluptates assumenda sequi, dolore error.
		button.close(data-dismiss='alert', type='button', aria-label='Close')
			i.material-icons(aria-hidden='true') close
	.alert.alert-danger.alert-dismissible.fade.show(role='alert')
		h6.alert-heading error
		p Lorem ipsum, dolor sit amet consectetur adipisicing.
		button.close(data-dismiss='alert', type='button', aria-label='Close')
			i.material-icons(aria-hidden='true') close